html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.exit__link {
    font-weight: 400;
    font-size: 20px;
    color: #3f2aff;
    margin-bottom: 25px;
    text-decoration-line: none;
    background-image: url("img/arrow.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 55px;
}

.logo {
    margin-bottom: 25px;
    display: inline-block
}



.title {
    font-weight: 700;
    font-size: 60px;
    color: #3f2aff;
    margin-bottom: 50px;


}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;
}


.list-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    color: #3f2aff;

}

.inner-list {}

.inner-list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    color: #333;
}

.list-count {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    color: #eaeaea;
    position: absolute;
    right: 25px;
    bottom: 25px;

}

.item {

    width: 572px;
    min-height: 505px;
    padding: 205px 25px 25px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    background-repeat: no-repeat;
}

.item_1 {
    background-image: url("img/photo-1.jpg");

}

.item_2 {
    background-image: url("img/photo-2.jpg");
}

.item_3 {
    background-image: url("img/photo-3.jpg");
}
.item_4 {
    background-image: url("img/photo-4.jpg");
}

.btn {
    padding: 24px 75px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #3f2aff;
    border: 2px solid #3f2aff;
    background-color: transparent;
    margin: 0 auto;
    display: block;
}